{
    "printWidth": 120,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "semi": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-tailwindcss"]
}
